<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= title %></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script
            src= <%= key %>
            defer
    ></script>

    <script src="/javascripts/directions.js"></script>


</head>
<body>
    <nav class="navbar navbar-custom">
        <a class="navbar-brand" href="#">Cycle Boston</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="about">About</a>
                <a class="nav-item nav-link active" href="stats">Statistics</a>
            </div>
        </div>
    </nav>
    <div style="display: none">
        <input
                id="origin-input"
                class="controls"
                type="text"
                placeholder="Enter an origin location"
        />

        <input
                id="destination-input"
                class="controls"
                type="text"
                placeholder="Enter a destination location"
        />
    </div>
    <div id="map-pre">
        <div id="map"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col" id = "dir-panel">
                <div id="right-panel" style="width: 90%"></div>
            </div>
            <div class="col offset-2" id="stuff-panel">
                <div id="form-div">
                    <form action="/" method="post" onsubmit="return formSubmit(event)">
                        <div class="form-group">
                            <label for="id-input">Chosen ID</label>
                            <input name="id" type="text" class="form-control" id="id-input"
                                   placeholder="Enter an id for for the post!" rows="3"/>
                        </div>
                        <div class="form-group">
                            <label for="desc-input">Route Description</label>
                            <textarea name="description" type="text" class="form-control" id="desc-input" placeholder="Enter description for your route!" rows="3"></textarea>
                        </div>
                        <label for="rating-input" >Give the route a rating</label>
                        <select name="rating" id ="rating-input" class="form-group mx-sm-3 mb-2">
                            <option>Pick a Rating</option>
                            <option>★★★★★</option>
                            <option>★★★★</option>
                            <option>★★★</option>
                            <option>★★</option>
                            <option>★</option>
                        </select>
                        <button id="submit-btn" type="submit" class="btn btn-info btn-sm">Submit</button>
                    </form>
                </div>
                <div id="comments-div"></div>
            </div>

        </div>
        <p id="origin-lat" style="display: none"></p>
        <p id="dest-lat" style="display: none"></p>
        <p id="origin-lng" style="display: none"></p>
        <p id="dest-lng" style="display: none"></p>

</body>
</html>