extends _bootstrap
block body
    div(style="text-align : center; padding-top : 10vh")
        h1 WelCome to Luke's Fancy plant database
        div(style ="width:75vw; " +
        "padding-left : 25vw; " +
        "padding-top : 10vh")
            form(id='query' action='query' method='post')
                input(type='text', name='