doctype html
html
    head
        title= title
        script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRu84N0nU_Capg76VDKUIAQErXw9ECTqY&callback=initMap&libraries=&v=weekly", defer)
        style
            include ../public/stylesheets/style.css
        script.
            let map;

            function initMap() {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: {
                        lat: #{lat},
                        lng: #{lng}
                    },
                    zoom: 8
                });
            }
    body
        div#map
        div asdasd